.card-body,
.quote-comment,
.quote-editor-container,
.comment-editor-container,
.ProseMirror {
    h1 {
        font-size: 2rem;
        font-weight: bold;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1.4rem;
        font-weight: bold;
    }

    h5 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    h6 {
        font-weight: bold;
    }

    p {
        margin: 0.5rem 0;
        line-height: 1.65rem;
        word-break: break-all;
    }
    ul,
    ol {
        padding-left: 30px;
    }

    ul :first-child,
    ol :first-child {
        margin-top: 0;
    }

    ul :last-child,
    ol :last-child {
        margin-bottom: 0;
    }
    ul li {
        list-style: disc;
    }
    ol li {
        list-style: decimal;
    }
    blockquote {
        margin: 0.5rem 0;
        padding: 5px 10px;
        border-left: 4px solid #dddddd;
        color: #777777;
    }

    & > code {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 0 2px;
        padding: 0 5px;
        border: 1px solid #d1d5db;
        background-color: #f8f8f8;
        border-radius: 3px;
    }

    & > pre {
        white-space: pre-wrap;
        overflow-x: auto;
        margin: 0.5rem 0;
        padding: 6px 10px;
        background-color: #f8f8f8;
        border: 1px solid #cccccc;
        border-radius: 3px;

        code {
            margin: 0;
            padding: 0;
            white-space: pre;
            border: none;
            background: transparent;
        }
    }

    img[alt="quote icon"] {
        display: inline;
    }

    .content-image {
        margin: 1rem auto;
        max-width: 100%;
    }

    .inline-quote {
        font-size: 0.95rem;
        margin: 0 3px;
        padding: 0 3px;
        border-radius: 3px;
        border: 1px solid rgba(78, 70, 229, 0.5);
        background: rgba(78, 70, 229, 0.08);
    }

    .block-quote {
        border-left: 4px solid rgba(124, 58, 237, 0.5);
        border-radius: 0 0.2rem 0.2rem 0;
        background: rgba(124, 58, 237, 0.03);
    }
}

.ProseMirror:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.Math {
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
}

.MathBlock {
    font-size: 0.8rem;
    font-family: "Fira Code", monospace;
    .katex-render {
        width: 100%;
        overflow-x: auto;
        text-align: center;
    }
}
